.animation {
  display: block;
  width: 50vw;
  height: 50vh;
  position: absolute;
}

.ani-wrapper {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  position: relative;
}

.ani1-arrows {
  display: flex;
  position: absolute;
  align-self: flex-start;
  justify-content: space-between;
  width: calc(376px * 0.98);
  height: 50vh;
  z-index: 1;
}

.red-arrow {
  display: block;
  width: 8px;
  height: auto;
  top: -60px;
  background: url('../img/red_arrow_491.svg') no-repeat;
  background-position: bottom;
  position: relative;
}

.ani1-arrow1 {
  -webkit-animation: arrow1-down 10s linear infinite;
          animation: arrow1-down 10s linear infinite;
}

.ani1-arrow2 {
  -webkit-animation: arrow2-down 10s linear infinite;
          animation: arrow2-down 10s linear infinite;
}

.ani1-arrow3 {
  -webkit-animation: arrow3-down 10s linear infinite;
          animation: arrow3-down 10s linear infinite;
}

.ani2-arrows {
  display: flex;
  position: absolute;
  align-self: flex-start;
  justify-content: space-between;
  width: 167px;
  height: 340px;
  z-index: 1;
  bottom: 40px;
  -webkit-animation: ani2-arrow-height 10s linear infinite;
          animation: ani2-arrow-height 10s linear infinite;
}

.ani2-arrow {
  display: block;
  width: 8px;
  height: auto;
  top: 0;
  background: url('../img/ani2_arrow_340.svg') no-repeat;
  background-position: top;
  position: relative;
}

.ani1-ellipses-container {
  display: flex;
  width: 50vw;
  height: 20%;
  position: absolute;
  bottom: 20px;
  left: 0;
  align-items: center;
  justify-content: center;
}

.ani2-ellipse-container {
  display: flex;
  position: absolute;
  align-self: center;
  width: 370px;
  height: 32px;
  bottom: 25px;
  transform: scale(1.2);
  z-index: 1;
}

.ani2-ellipse {
  display: block;
  align-self: center;
  width: 100%;
  height: 100%;
  background: url("../img/ani2_ellipses.svg") no-repeat;
  background-position: 0 0;
  position: absolute;
}

.ani2-cyl-container {
  display: flex;
  position: absolute;
  align-self: flex-start;
  width: 340px;
  height: 270px;
  transform: scale(.9);
  z-index: 1;
  bottom: 40px;
  -webkit-animation: cyl-rise 10s steps(1) infinite;
          animation: cyl-rise 10s steps(1) infinite;
}

.ani2-cyl-elem {
  display: block;
  width: 340px;
  height: 100%;
  top: 0;
  background: url("../img/cyl.svg") no-repeat;
  background-position: bottom;
  position: relative;
}

.ani1-ellipses {
  display: inline-block;
  width: 500px;
  height: 44px;
  align-self: flex-end;
  position: relative;
  margin: 0;
  z-index: 1;
}

.ellipse-s {
  display: block;
  width: 500px;
  height: 44px;
  background: url('../img/ellipses.svg') no-repeat;
  background-position: -500px top;
  position: absolute;
  transform: scale(.98);
  -webkit-animation: s-stroke 10s steps(1) infinite;
          animation: s-stroke 10s steps(1) infinite;
}

.ellipse-m {
  display: block;
  width: 500px;
  height: 44px;
  background: url('../img/ellipses.svg') no-repeat;
  background-position: -1500px top;
  position: absolute;
  transform: scale(.98);
  -webkit-animation: m-stroke 10s steps(1) infinite;
          animation: m-stroke 10s steps(1) infinite;
}

.ellipse-l {
  display: block;
  width: 500px;
  height: 44px;
  background-image: url('../img/ellipses.svg');
  background-size: auto 100%;
  transform: scale(.98);
  background-position: -3000px top;
  position: absolute;
  -webkit-animation: l-stroke 10s steps(1) infinite;
          animation: l-stroke 10s steps(1) infinite;
}

.ani1-red-ellipse-wrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  /* width: 518px; */
  width: 550px;
  height: 64px;
  padding: 20px;
  align-self: flex-end;
  bottom: 9px;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: red-area-resize 10s linear infinite;
          animation: red-area-resize 10s linear infinite;
}

.ani1-red-ellipse {
  width: 100%;
  align-self: center;
  padding-bottom: 8.5%;
  background: red;
  border-radius: 50%;
  opacity: 1;
  box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1);
  /* animation: test 5s linear infinite; */
  -webkit-animation: opacity-pulsing 10s linear infinite;
          animation: opacity-pulsing 10s linear infinite;
}

.ani2-red-ellipse-wrapper {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  width: 470px;
  height: 64px;
  padding: 13px;
  align-self: flex-end;
  bottom: 8px;
}

.ani2-red-ellipse {
  width: 98%;
  align-self: center;
  padding-bottom: 7.5%;
  background: red;
  border-radius: 50%;
  opacity: .5;
  box-shadow: 0 0 5px 1px rgba(255, 0, 0, 1); opacity: .5;
  -webkit-animation: ani2_red_pulsation 2s alternate linear infinite;
          animation: ani2_red_pulsation 2s alternate linear infinite;
}

.ani2-drops-container {
  display: flex;
  width: 312px;
  height: 293px;
  position: absolute;
  align-self: center;
  bottom: 35px;
  transform: scale(.86);
  z-index: 1;
  -webkit-animation: drops-height 10s linear infinite;
          animation: drops-height 10s linear infinite;
}

.ani2-drops {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-position: top;
  position: absolute;
}

.drops-1 {
  background: url('../img/ani2_drops/drops1.svg') no-repeat;
  -webkit-animation: drops1 3s ease-in-out infinite;
          animation: drops1 3s ease-in-out infinite;
}

.drops-2 {
  background: url('../img/ani2_drops/drops2.svg') no-repeat;
  -webkit-animation: drops2 5s ease-in-out infinite;
          animation: drops2 5s ease-in-out infinite;
}

.drops-3 {
  background: url('../img/ani2_drops/drops3.svg') no-repeat;
  -webkit-animation: drops3 4s ease-in-out infinite;
          animation: drops3 4s ease-in-out infinite;
}

.drops-4 {
  background: url('../img/ani2_drops/drops4.svg') no-repeat;
  -webkit-animation: drops4 5s ease-in-out infinite;
          animation: drops4 5s ease-in-out infinite;
}

.ani3-system {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 360px;
  height: 360px;
}

.ani3-system-1 {
  right: calc(10px + 0.6vw);
  bottom: 20px;
}

.ani3-system-2 {
  left: 50px;
  top: 20px;
}

.core-container {
  display: block;
  width: 186px;
  height: 186px;
  align-self: center;
  position: relative;
  -webkit-animation: core-rotate 50s linear infinite;
          animation: core-rotate 50s linear infinite;
}

.ani3-system-2 .core-container {
  animation: core-rotate 50s reverse linear infinite;
}

.core {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani3_core.svg") no-repeat;
  background-size: contain;
}

.point {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani3_point.svg") no-repeat;
  background-size: contain;
  position: absolute;
  align-self: center;
}

.water-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 340px;
  height: 300px;
  align-self: center;
}

.s1-water {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  align-self: center;
  background-size: contain;
}

.s1-w1 {
  background: url("../img/ani3_water/w1.svg") no-repeat;
  -webkit-animation: s1-w1 4s ease-in-out infinite;
          animation: s1-w1 4s ease-in-out infinite;
}

.s1-w2 {
  background: url("../img/ani3_water/w2.svg") no-repeat;
  -webkit-animation: s1-w2 6s ease-in-out infinite;
          animation: s1-w2 6s ease-in-out infinite;
}

.s1-w3 {
  background: url("../img/ani3_water/w3.svg") no-repeat;
  -webkit-animation: s1-w3 5s ease-in-out infinite;
          animation: s1-w3 5s ease-in-out infinite;
}

.s1-w4 {
  background: url("../img/ani3_water/w4.svg") no-repeat;
  -webkit-animation: s1-w4 6s ease-in-out infinite;
          animation: s1-w4 6s ease-in-out infinite;
}

.s1-w5 {
  background: url("../img/ani3_water/w5.svg") no-repeat;
  -webkit-animation: s1-w5 5s ease-in-out infinite;
          animation: s1-w5 5s ease-in-out infinite;
}

.s2-w6 {
  background: url("../img/ani3_water/w6.svg") no-repeat;
  -webkit-animation: s2-w6 6s ease-in-out infinite;
          animation: s2-w6 6s ease-in-out infinite;
}

.s2-w7 {
  background: url("../img/ani3_water/w7.svg") no-repeat;
  -webkit-animation: s1-w2 4s ease-in-out infinite;
          animation: s1-w2 4s ease-in-out infinite;
}

.s2-w8 {
  background: url("../img/ani3_water/w8.svg") no-repeat;
  -webkit-animation: s2-w8 5s ease-in-out infinite;
          animation: s2-w8 5s ease-in-out infinite;
}

.s2-w9 {
  background: url("../img/ani3_water/w9.svg") no-repeat;
  -webkit-animation: s2-w9 6s ease-in-out infinite;
          animation: s2-w9 6s ease-in-out infinite;
}

.ani3-w-area-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 186px;
  height: 186px;
  align-self: center;
  animation: w-area-grow 10s reverse linear infinite;
}

.ani3-system-2 .ani3-w-area-container {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.ani3-w-area-border {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #42FF00;
  position: absolute;
  align-self: center;
  z-index: 2;
  -webkit-animation: test_border 10s linear;
          animation: test_border 10s linear;
  -webkit-animation: border-grow 10s linear infinite;
          animation: border-grow 10s linear infinite;
}

.ani3-system-2 .ani3-w-area-border {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.ani3-w-area {
  display: block;
  position: relative;
  align-self: center;
  width: calc(100% - 9px);
  height: calc(100% - 9px);
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 1);
}

.ani4-system {
  display: flex;
  position: absolute;
  align-self: center;
  width: 400px;
  height: 400px;
  justify-content: center;
  /* transform: scale(.7); */
}

.ani4-cube-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 378px;
  height: 336px;
  align-self: center;
}

.ani4-cube {
  display: block;
  width: 378px;
  height: 336px;
  background: url("../img/ani4_cube.svg") no-repeat;
  background-size: contain;
  align-self: center;
  position: absolute;
}

.ani4-cloud-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 378px;
  height: 336px;
  align-self: center;
}

.cloud-main-animation {
  display: flex;
  justify-content: center;
  position: relative;
  width: 378px;
  height: 336px;
  align-self: center;
  transform: scale(1.4);
}

.ani4-single-container {
  display: flex;
  position: absolute;
  width: 378px;
  height: 336px;
  align-self: center;
}

.ani4-single-animation {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 41px;
  height: 41px;
}

.test-animation-1 {
  display: block;
  top: 36%;
  left: 22%;
  width: 62px;
  height: 12px;
  position: absolute;
  -webkit-animation: test-rotate 12s linear infinite;
          animation: test-rotate 12s linear infinite;
}

.test-animation-2 {
  display: block;
  top: 62%;
  left: 50%;
  width: 62px;
  height: 16px;
  position: absolute;
  animation: test-rotate 7s reverse linear infinite;
}

.test-animation-3 {
  display: block;
  top: 33%;
  left: 54%;
  width: 90px;
  height: 60px;
  position: absolute;
  animation: test-rotate 9s reverse linear infinite;
}


@-webkit-keyframes test-rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


@keyframes test-rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.ani4-s {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/ani4_single.svg") no-repeat;
  background-size: contain;
  align-self: center;
  position: absolute;
}

/* cloud parts start */

.cloud-part {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 217px;
  height: 154px;
  align-self: center;
}

.pointer-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 217px;
  height: 154px;
  align-self: center;
  z-index: 3;
}

.cloud-part .top {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/top.svg") no-repeat;
  background-size: contain;
  position: absolute;
  -webkit-animation: cloud-top-rotate 6s ease-in-out infinite;
          animation: cloud-top-rotate 6s ease-in-out infinite;
}

.pointer-container .top-p {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/top_p.svg") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
}

.ani4-s-border {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 221px;
  height: 154px;
  align-self: center;
  z-index: 3;
}

.ani4-s-border .s-border-1 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/b1.svg") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  -webkit-animation: cloud-top 7s ease-in-out infinite;
          animation: cloud-top 7s ease-in-out infinite;
}

.ani4-s-border .s-border-2 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/b2.svg") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  -webkit-animation: cloud-bottom 6s ease-in-out infinite;
          animation: cloud-bottom 6s ease-in-out infinite;
}

.ani4-s-border .s-border-3 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/b3.svg") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  -webkit-animation: cloud-left 6s ease-in-out infinite;
          animation: cloud-left 6s ease-in-out infinite;
}

.cloud-top-part, .top-p {
  -webkit-animation: cloud-top 7s ease-in-out infinite;
          animation: cloud-top 7s ease-in-out infinite;
}

.cloud-bottom-part {
  -webkit-animation: cloud-bottom 6s ease-in-out infinite;
          animation: cloud-bottom 6s ease-in-out infinite;
}

.cloud-right-part {
  -webkit-animation: cloud-right 8s ease-in-out infinite;
          animation: cloud-right 8s ease-in-out infinite;
}

.cloud-left-part {
  -webkit-animation: cloud-left 6s ease-in-out infinite;
          animation: cloud-left 6s ease-in-out infinite;
}

.cloud-part .right {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/right.svg") no-repeat;
  background-size: contain;
  position: absolute;
}

.pointer-container .right-p {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/right_p.svg") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  -webkit-animation: cloud-right 8s ease-in-out infinite;
          animation: cloud-right 8s ease-in-out infinite;
}

.cloud-part .bottom {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/bottom.svg") no-repeat;
  background-size: contain;
  position: absolute;
}

.pointer-container .bottom-p {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/bottom_p.svg") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  -webkit-animation: cloud-bottom 6s ease-in-out infinite;
          animation: cloud-bottom 6s ease-in-out infinite;
}

.cloud-part .left {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/left.svg") no-repeat;
  background-size: contain;
  position: absolute;
}

.pointer-container .left-p {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/ani4_cloud/left_p.svg") no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  -webkit-animation: cloud-left 6s ease-in-out infinite;
          animation: cloud-left 6s ease-in-out infinite;
}

/* cloud parts end */


/* ani3 */

@-webkit-keyframes w-area-grow {
  0% {transform: scale(1); opacity: 0;}
  5% {opacity: 1;}
  100% {transform: scale(.2);}
}

@keyframes w-area-grow {
  0% {transform: scale(1); opacity: 0;}
  5% {opacity: 1;}
  100% {transform: scale(.2);}
}

@-webkit-keyframes border-grow {
  0% {width: 20px; height: 20px;}
  90% {width: 186px; height: 186px; opacity: 1;}
  95% {width: 186px; height: 186px; opacity: 1;}
  100% {width: 186px; height: 186px; opacity: 0;}
}

@keyframes border-grow {
  0% {width: 20px; height: 20px;}
  90% {width: 186px; height: 186px; opacity: 1;}
  95% {width: 186px; height: 186px; opacity: 1;}
  100% {width: 186px; height: 186px; opacity: 0;}
}

@-webkit-keyframes core-rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes core-rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* ani2 */

@-webkit-keyframes ani2_red_pulsation {
  0% {width: 98%; box-shadow: 0 0 5px 1px rgba(255, 0, 0, 1); opacity: .5;}
  100% {width: 100%; box-shadow: 0 0 15px 8px rgba(255, 0, 0, 1); opacity: .6;}
}

@keyframes ani2_red_pulsation {
  0% {width: 98%; box-shadow: 0 0 5px 1px rgba(255, 0, 0, 1); opacity: .5;}
  100% {width: 100%; box-shadow: 0 0 15px 8px rgba(255, 0, 0, 1); opacity: .6;}
}

@-webkit-keyframes cyl-rise {
  0% {height: 0px;}
  10% {height: 30px; bottom: 52px;}
  20% {height: 60px; bottom: 50px;}
  30% {height: 90px; bottom: 49px;}
  40% {height: 120px; bottom: 47px;}
  50% {height: 150px; bottom: 46px;}
  60% {height: 180px; bottom: 44px;}
  70% {height: 210px; bottom: 43px;}
  80% {height: 240px; bottom: 41px;}
  90%, 100% {height: 270px; bottom: 40px;}
}

@keyframes cyl-rise {
  0% {height: 0px;}
  10% {height: 30px; bottom: 52px;}
  20% {height: 60px; bottom: 50px;}
  30% {height: 90px; bottom: 49px;}
  40% {height: 120px; bottom: 47px;}
  50% {height: 150px; bottom: 46px;}
  60% {height: 180px; bottom: 44px;}
  70% {height: 210px; bottom: 43px;}
  80% {height: 240px; bottom: 41px;}
  90%, 100% {height: 270px; bottom: 40px;}
}

@-webkit-keyframes ani2-arrow-height {
  0% {height: 0px;}
  5% {height: 36px;}
  15% {height: 72px;}
  25% {height: 108px;}
  35% {height: 144px;}
  45% {height: 180px;}
  55% {height: 216px;}
  65% {height: 252px;}
  75% {height: 288px;}
  85% {height: 324px;}
  90% {height: 330px;opacity: .8}
  100% {height: 330px; opacity: 0;}
}

@keyframes ani2-arrow-height {
  0% {height: 0px;}
  5% {height: 36px;}
  15% {height: 72px;}
  25% {height: 108px;}
  35% {height: 144px;}
  45% {height: 180px;}
  55% {height: 216px;}
  65% {height: 252px;}
  75% {height: 288px;}
  85% {height: 324px;}
  90% {height: 330px;opacity: .8}
  100% {height: 330px; opacity: 0;}
}

/* ani1 */

@-webkit-keyframes arrow1-down {
  0% {top: -50vh;}
  35% {top: -40px;}
  75% {opacity: .8;}
  100% {top: -40px; opacity: 0;}
}

@keyframes arrow1-down {
  0% {top: -50vh;}
  35% {top: -40px;}
  75% {opacity: .8;}
  100% {top: -40px; opacity: 0;}
}

@-webkit-keyframes arrow2-down {
  0% {top: -50vh;}
  65% {top: -40px;}
  75% {opacity: .8;}
  100% {top: -40px; opacity: 0;}
}

@keyframes arrow2-down {
  0% {top: -50vh;}
  65% {top: -40px;}
  75% {opacity: .8;}
  100% {top: -40px; opacity: 0;}
}

@-webkit-keyframes arrow3-down {
  0% {top: -50vh;}
  85% {top: -40px;}
  85% {opacity: .8;}
  100% {top: -40px; opacity: 0;}
}

@keyframes arrow3-down {
  0% {top: -50vh;}
  85% {top: -40px;}
  85% {opacity: .8;}
  100% {top: -40px; opacity: 0;}
}


@-webkit-keyframes red-area-resize {
  0% {width: 0;}
  35% {width: calc(192px * .98);}
  65% {width: calc(383px * .98);}
  85% {width: calc(518px * .98);}
  99%, 100% {width: 550px;}
}


@keyframes red-area-resize {
  0% {width: 0;}
  35% {width: calc(192px * .98);}
  65% {width: calc(383px * .98);}
  85% {width: calc(518px * .98);}
  99%, 100% {width: 550px;}
}

@-webkit-keyframes opacity-pulsing {
  8% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .9;}
  30%, 34% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .5;}
  35%, 36% {box-shadow: 0 0 6px 8px rgba(255, 0, 0, 1); opacity: .6;}
  52%, 64% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .4;}
  65%, 66% {box-shadow: 0 0 6px 8px rgba(255, 0, 0, 1); opacity: .6;}
  75%, 84% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .4;}
  85%, 86% {box-shadow: 0 0 6px 8px rgba(255, 0, 0, 1); opacity: .6;}
  100% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .0;}
}

@keyframes opacity-pulsing {
  8% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .9;}
  30%, 34% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .5;}
  35%, 36% {box-shadow: 0 0 6px 8px rgba(255, 0, 0, 1); opacity: .6;}
  52%, 64% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .4;}
  65%, 66% {box-shadow: 0 0 6px 8px rgba(255, 0, 0, 1); opacity: .6;}
  75%, 84% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .4;}
  85%, 86% {box-shadow: 0 0 6px 8px rgba(255, 0, 0, 1); opacity: .6;}
  100% {box-shadow: 0 0 5px 3px rgba(255, 0, 0, 1); opacity: .0;}
}

@-webkit-keyframes s-stroke {
  0% {background-position: -500px top;}
  33%, 100% {background-position: 0 top;}
}

@keyframes s-stroke {
  0% {background-position: -500px top;}
  33%, 100% {background-position: 0 top;}
}

@-webkit-keyframes m-stroke {
  0% {background-position: -2500px top;}
  33% {background-position: -2000px top;}
  66%, 100% {background-position: -1500px top;}
}

@keyframes m-stroke {
  0% {background-position: -2500px top;}
  33% {background-position: -2000px top;}
  66%, 100% {background-position: -1500px top;}
}

@-webkit-keyframes l-stroke {
  0% {background-position: -3000px top;}
  33% {background-position: -4000px top;}
  66% {background-position: -3500px top;}
  100% {background-position: -3000px top;}
}

@keyframes l-stroke {
  0% {background-position: -3000px top;}
  33% {background-position: -4000px top;}
  66% {background-position: -3500px top;}
  100% {background-position: -3000px top;}
}

@-webkit-keyframes drops-height {
  0% {height: 0px;}
  90% {height: 293px;}
  95% {opacity: .8;}
  100% {height: 293px; opacity: 0;}
}

@keyframes drops-height {
  0% {height: 0px;}
  90% {height: 293px;}
  95% {opacity: .8;}
  100% {height: 293px; opacity: 0;}
}

@-webkit-keyframes drops1 {
  0% {transform: translate(0);}
  50% {transform: translate(16px, -12px);}
  100% {transform: translate(0);}
}

@keyframes drops1 {
  0% {transform: translate(0);}
  50% {transform: translate(16px, -12px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes drops2 {
  0% {transform: translate(0);}
  50% {transform: translate(-24px, -6px);}
  100% {transform: translate(0);}
}

@keyframes drops2 {
  0% {transform: translate(0);}
  50% {transform: translate(-24px, -6px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes drops3 {
  0% {transform: translate(0);}
  50% {transform: translate(23px, 12px);}
  100% {transform: translate(0);}
}

@keyframes drops3 {
  0% {transform: translate(0);}
  50% {transform: translate(23px, 12px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes drops4 {
  0% {transform: translate(0);}
  50% {transform: translate(-20px, 10px);}
  100% {transform: translate(0);}
}

@keyframes drops4 {
  0% {transform: translate(0);}
  50% {transform: translate(-20px, 10px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes s1-w1 {
  0% {transform: translate(0);}
  50% {transform: translate(-15px, 20px);}
  100% {transform: translate(0);}
}

@keyframes s1-w1 {
  0% {transform: translate(0);}
  50% {transform: translate(-15px, 20px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes s1-w2 {
  0% {transform: translate(0);}
  50% {transform: translate(25px, -10px);}
  100% {transform: translate(0);}
}

@keyframes s1-w2 {
  0% {transform: translate(0);}
  50% {transform: translate(25px, -10px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes s1-w3 {
  0% {transform: translate(0);}
  50% {transform: translate(-15px, -20px);}
  100% {transform: translate(0);}
}

@keyframes s1-w3 {
  0% {transform: translate(0);}
  50% {transform: translate(-15px, -20px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes s1-w4 {
  0% {transform: translate(0);}
  50% {transform: translate(30px, 20px);}
  100% {transform: translate(0);}
}

@keyframes s1-w4 {
  0% {transform: translate(0);}
  50% {transform: translate(30px, 20px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes s1-w5 {
  0% {transform: translate(0);}
  50% {transform: translate(-25px, 10px);}
  100% {transform: translate(0);}
}

@keyframes s1-w5 {
  0% {transform: translate(0);}
  50% {transform: translate(-25px, 10px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes s2-w8 {
  0% {transform: translate(0);}
  50% {transform: translate(12px, 25px);}
  100% {transform: translate(0);}
}

@keyframes s2-w8 {
  0% {transform: translate(0);}
  50% {transform: translate(12px, 25px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes s2-w6 {
  0% {transform: translate(5px);}
  50% {transform: translate(-8px, -35px);}
  100% {transform: translate(5px);}
}

@keyframes s2-w6 {
  0% {transform: translate(5px);}
  50% {transform: translate(-8px, -35px);}
  100% {transform: translate(5px);}
}

@-webkit-keyframes s2-w9 {
  0% {transform: translate(15px);}
  50% {transform: translate(-20px, -8px);}
  100% {transform: translate(15px);}
}

@keyframes s2-w9 {
  0% {transform: translate(15px);}
  50% {transform: translate(-20px, -8px);}
  100% {transform: translate(15px);}
}

@-webkit-keyframes cloud-top {
  0% {transform: translate(0);}
  50% {transform: translate(10px, -12px);}
  100% {transform: translate(0);}
}

@keyframes cloud-top {
  0% {transform: translate(0);}
  50% {transform: translate(10px, -12px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes cloud-bottom {
  0% {transform: translate(0);}
  60% {transform: translate(-3px, 7px);}
  100% {transform: translate(0);}
}

@keyframes cloud-bottom {
  0% {transform: translate(0);}
  60% {transform: translate(-3px, 7px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes cloud-right {
  0% {transform: translate(-3px);}
  50% {transform: translate(6px, 7px);}
  100% {transform: translate(-3px);}
}

@keyframes cloud-right {
  0% {transform: translate(-3px);}
  50% {transform: translate(6px, 7px);}
  100% {transform: translate(-3px);}
}

@-webkit-keyframes cloud-left {
  0% {transform: translate(0);}
  50% {transform: translate(-10px, -5px);}
  100% {transform: translate(0);}
}

@keyframes cloud-left {
  0% {transform: translate(0);}
  50% {transform: translate(-10px, -5px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes cloud-top-rotate {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(3deg);}
  100% {transform: translate(0);}
}

@keyframes cloud-top-rotate {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(3deg);}
  100% {transform: translate(0);}
}

@-webkit-keyframes cloud-bottom-rotate {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(3deg);}
  100% {transform: translate(0);}
}

@keyframes cloud-bottom-rotate {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(3deg);}
  100% {transform: translate(0);}
}

@media all and (max-width: 1350px) {
  .ani4-system {transform: scale(.85);}
  .ani3-system {transform: scale(.8);}
  .ani3-system-1 {right: 0;}
  .ani3-system-2 {left: 0;}
}

@media all and (max-width: 1024px) and (orientation: portrait) {
  .ani1 {width: 100vw; height: 50vh;}
  .ani-wrapper {width: 100vw; height: 50vh;}
  .ani1-ellipses-container {width: 100vw;}
  .ellipse-l, .ellipse-m, .ellipse-s {transform: scale(.95);}
}

@media all and (max-width: 1024px) and (orientation: landscape) {
  .ellipse-l, .ellipse-m, .ellipse-s {transform: scale(.75); background-size: auto 100%;}
  .ani1-arrows {width: calc(376px * 0.75);}
  .ani4-system {transform: scale(.75);}
  .ani3-system {transform: scale(.7);}
  .ani3-system-1 {right: -20px; bottom: -30px;}
  .ani3-system-2 {left: -20px; top: -30px;}
  .ani4-cube-container {bottom: 0;}
}

@media all and (max-width: 375px) and (orientation: portrait) {
  .ani4 {transform: scale(.95);}
  .ani-wrapper {width: 100vw; height: calc(100vh - 120px);}
  .ani4-system {transform: scale(.8);}
  .ani3-system-2 {display: none;}
  .ani3-system-1 {bottom: 160px; transform: scale(.95); left: 15px;}
  .ani2 {transform: scale(.75); position: absolute; top: 80px;}
  .ani1 {transform: scale(.75); position: absolute; top: 80px;}
  .ani1-arrows {transform: scale(.95); bottom: -7px;}
  .ani1-red-ellipse-wrapper {transform: scale(.85);}
  .ani1-ellipses-container {left: -63px;}

}
