* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}


body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code'
}

.canvas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.field {
  display: flex;
  width: 50vw;
  height: 50vh;
  background: url("../img/field.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  overflow: hidden;
}

.field:nth-child(2n) {
  border-right: none;
}

.static {
  z-index: 2;
  width: inherit;
  position: relative;
}

.animation {
  position: absolute;
  align-self: flex-start;
}

.info:hover ~ .description {
  display: block;
}

.info:hover ~ .title {
  display: inline-block;
}

.info:hover ~ .ruler-container-v,
.info:hover ~ .ruler-container-h {
  display: flex;
}

.label {
  display: inline-block;
  font-family: 'Roboto';
  position: relative;
  font-size: calc(11px + 0.6vw);
  margin: 2vh 0 0 1.2vw;
}

.title {
  position: relative;
  display: none;
}

.title p {
  font-size: calc(10px + 0.3vw);
  margin-left: 0.5vw;
}

.info {
  display: block;
  position: absolute;
  min-width: 3%;
  height: auto;
  right: calc(1.2vw + 1px);
  top: calc(2vh + 1px);
}

.description {
  position: absolute;
  max-width: 220px;
  right: 1.2vw;
  top: 6.7vh;
  display: none;
}

.description p {
  font-size: calc(6px + 0.3vw);
  line-height: 14px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

/* Rulers style */

.ruler-svg img {
  display: block;
  width: 100%;
  height: auto;
}

.ruler-container-v {
  display: none;
  position: absolute;
  width: 7%;
  height: 50vh;
  top: 0;
  align-items: center;
}

.ruler-container-v-right {
  left: 100%;
}

.ruler-container-v-left {
  left: -5.3%;
}

.ruler-wrapper-v {
  width: 75%;
  height: auto;
}

.ruler-container-h {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 50vw;
  height: 7%;
  align-items: center;
}

.ruler-container-h-bottom {
  top: 100%;
}

.ruler-container-h-top {
  bottom: calc(100% + 2px);
}

.ruler-wrapper-h {
  width: 75%;
  height: auto;
}
