@media all and (max-width: 1024px) {
  .info {display: none;}
  .description {display: block; top: 2vh; max-width: 180px;}
  .description p {line-height: 11px;}
  .title {display: inline-block; margin-left: 0;}
  .title p {font-size: 12px;}
  .label {margin-top: 1.4vh; color: black;}
}

@media all and (max-width: 1024px) and (orientation: portrait) {
  .canvas {flex-direction: column;}
  .field {width: 100vw; height: 50vh;}
  .animation {width: 100vw;}
  .title p {font-size: 12px;}
  .description {max-width: 210px; top: 1.6vh;}
  .description p {font-size: 10px; line-height: 13px}
}

@media all and (max-width: 375px) and (orientation: portrait) {
  .field {width: 100vw; height: calc(100vh - 120px);}
  .label {font-size: 20px; margin-left: 3.5vw;}
  .title p {font-size: 16px;}
  .description {left: 4vw;  margin-top: 40px; max-width: 240px;}
  .description p {font-size: 12px; line-height: 15px;}
  .animation {height: calc(100vh - 120px);}
}

@media all and (max-width: 1200px) {
  .ani4-system {transform: scale(.85);}
}

@media all and (max-width: 1024px) and (orientation: portrait) {
  .ani1 {width: 100vw; height: 50vh;}
  .ani-wrapper {width: 100vw; height: 50vh;}
  .ani1-ellipses-container {width: 100vw;}
  .ellipse-l, .ellipse-m, .ellipse-s {transform: scale(.95);}
}

@media all and (max-width: 1024px) and (orientation: landscape) {
  .ellipse-l, .ellipse-m, .ellipse-s {transform: scale(.75); background-size: auto 100%;}
  .ani1-arrows {width: calc(376px * 0.75);}
  .ani4-system {transform: scale(.75);}
  .ani3-system {transform: scale(.7);}
  .ani3-system-1 {right: -20px; bottom: -30px;}
  .ani3-system-2 {left: -20px; top: -30px;}
  .ani4-cube-container {bottom: 0;}
}

@media all and (max-width: 375px) and (orientation: portrait) {
  .ani4 {transform: scale(.95);}
  .ani-wrapper {width: 100vw; height: calc(100vh - 120px);}
  .ani4-system {transform: scale(.8);}
  .ani3-system-2 {display: none;}
  .ani3-system-1 {bottom: 160px; transform: scale(.95); left: 15px;}
  .ani2 {transform: scale(.75); position: absolute; top: 80px;}
  .ani1 {transform: scale(.75); position: absolute; top: 80px;}
  .ani1-arrows {transform: scale(.95); bottom: -7px;}
  .ani1-red-ellipse-wrapper {transform: scale(.85);}
  .ani1-ellipses-container {left: -63px;}

}
